* {
    box-sizing: border-box;
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 1.4;

    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "main";
}

.site-header {grid-area: header;}
.site-nav {grid-area: nav;}
main {grid-area: main;}

img {
    max-width: 100%;
    height: auto;
}
